<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="bosch" class="com.example.springdi.Student">
        <constructor-arg name="studentName" value="Bosch"/>
        <constructor-arg name="id" value="1"/>
    </bean>

    <bean id="brooke" class="com.example.springdi.Student">
        <constructor-arg name="studentName" value="Brooke"/>
        <constructor-arg name="id" value="2"/>
    </bean>

    <bean id="student" class="com.example.springdi.Student">
        <constructor-arg name="studentName" value="Student"/>
        <constructor-arg name="id" value="3"/>
        <property name="mathCheat">
            <bean class="com.example.springdi.MathCheat"></bean>
        </property>
    </bean>

</beans>